<a href="/Search"><< back</a>

<div class="row justify-content-center">
    <div class="col-lg-5" style="text-align: center">
        <img src="../../../img/404.svg" class="img-fluid" />
    </div>
</div>